<head>
  <link href='http://fonts.googleapis.com/css?family=Antic+Didone|Forum' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="assets/octicons/octicons.css">
  </head>

  <body>
  <div class="container">
    <header id="header">
      <div class="logo"><img src="assets/images/font-jam_header.png" alt="background image"></div>
      <div class="menu">
        <ul>
          <li><a {{bind-attr href=headerHash}}>HOME</a></li>
          <li><a {{bind-attr href=introHash}}>ABOUT FONT JAM</a></li>
          <li><a {{bind-attr href=searchHash}}>SEARCH FONT JAM</a></li>
          <li><a {{bind-attr href=chatroomHash}}>FONT JAM FORUM</a></li>
          <li><a {{bind-attr href=contactHash}}>HIRE ME</a></li>
        </ul>
      </div>
    </header>

    <div id="intro">
      <div class="intro_text">
        <h1>Welcome to Font Jam!</h1>
        <h3>An app to help you easily find complimentary fonts for your typography needs. <br>Whether you are a seasoned vet or you are just looking for a fun project, you have come to the right place.</h3>
      </div>

      <div class="intro_image">
        <img src="/assets/images/fonts_image.png" alt="">
      </div>
    </div>
<div class="orange-container">
    <div id="sections">
      <div class="sections_fontsearch">
        <div id='mega-octicon1' class="mega-octicon octicon-book"></div><br>
        <h2>Find Your Font</h2>
        <p>Online typeface identifier. Users are guided through a series of illustrated multiple-choice questions of features of a font to arrive at a font identification.</p>
        <button><a {{bind-attr href=searchHash}}>Search</a></button>
      </div>
      <div class="sections_chatroom">
        <div id='mega-octicon2' class="mega-octicon octicon-comment-discussion"></div><br>
        <h2>Let's Discuss</h2>
        <p>Join the discussion! This forum covers everything fonts: news, events for your calendar, and updates from colleges, churches, sports, and classifieds.</p>
        <button><a {{bind-attr href=chatroomHash}}>Chat</a></button>
    </div>
      <div class="sections_contact">
        <div id='mega-octicon3' class="mega-octicon octicon-mail"></div><br>
        <h2>Contact Us</h2>
        <p>  Call or E-mail and a Font Jam team leader will help you with any questions you might have. Need more help? Contact Matt Jankun directly.</p>
        <button><a {{bind-attr href=contactHash}}>Say Hello</a></button>
    </div>
    </div>
</div>
<div class="photo1-container">

</div>
    <div id="search">
      <h1>Search Fonts</h1>

      <div class="search_left">
        <p>
          Have you ever needed to find a font that complimented something you were already using?<br>
          You have found the right place! Search which ever font classification you think would got best with the font you current have.<br>
          If you have a Script font, look for something in the San Serif Classification. If you are using a bold San Serif font, check out a crisp Serif font to compliment it.<br>
          Do you happen to be using Comic Sans? Seriously? Seriously? If you are really reading this and looking for the answer, please leave this site. Comic Sans should never ever be used!
        </p>
        <form {{action "search" on="submit"}} method="post">
          <!-- <select {{action "search" on="submit"}} method="post">
          <option>Serif</option>
          <option>Sans Serif</option>
          <option>Slab Serif</option>
          <option>Script</option>
          <option>Handdrawn</option>
          <option>Novelty</option>
          <option>Calligraphic</option> -->
        {{input type='text' value=searchBar placeholder="Search Font Class"}}
        <<button>Search</button>
        <!-- </select> -->
        </form>
      </div>


    <div class="search_right">
      <!-- <h2>Complimentary Fonts</h2> -->

      {{outlet}}

    </div>
  </div>
<div class="photo2-container">



</div>
    <div id="chatroom">
      <div class="orange-container2">
        <form {{action 'authenticate' on="submit"}}>
          <fieldset>
            <div class="login-form">
              <h1>Log-In</h1>

              {{input value=identification placeholder='Enter Email' type='email' }}

              {{input value=password placeholder='Enter Password' type='password' }}<br>

              <button type="submit">Login</button>
            </div>

          </fieldset>
        </form>
    </div>
      <div class="chat">
        <h2>You are entering the Font Jam Forum!</h2>
        <p>
          A great place where you can ask your fellow Font Jam Community members
          for opinions on projects you're doing and what fonts may work best. Make friends,
          ingauge in interesting topics and argue about your favorite fonts. Let the fun begin.
        </p>
      <form {{action 'save' on="submit"}} class="form-container">
        {{textarea value=newComment  cols="100" rows="5" placeholder="What's on your mind?"}}
        <br><button class="comment-button" type="submit" {{action "saveComment"}}>Submit</button>
      </form>

      <ul>
        <div class=individualcomment>
        {{#each comment in model.comments itemController="application"}}
          {{#if comment.isEditing}}
            <li><a {{action "saveEdit" comment}}>Save</a><br>
              {{input value=comment.model.body}}</li>

          {{else}}
            <li>{{comment.model.user}}<br>
              {{comment.model.body}}<br>
              <a {{action "edit" comment}}>Edit</a> <a {{action "destroyComment" comment}}>Delete</a></li>


          {{/if}}
        {{/each}}
      </div>
      </ul>

    </div>

    </div>
<div class="photo3-container">

  </div>
  <div class="orange-container2">
    <div id="contact">
          <h3>Matt Jankun   |   (678) 205-7815    |   mattjankun@yahoo.com</h3>

    </div>
  </div>
    <footer>
      Copyright 2015
    </footer>
    </div>
    <script type="text/javascript">$(document).scroll(function() {
    var y = $(document).scrollTop(), header = $(".menu"); if(y >= 445)
    { header.css({position: "fixed", "top" : "0", "left" : "0"}); } else {header.css("position", "relative"); } });</script>
  </body>
