<head>
    <link href="http://fonts.googleapis.com/css?family=Oswald:400,700|Roboto+Condensed:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="assets/octicons/octicons.css">
  </head>

  <body>
  <div class="container">
    <header id="header">
      <div class="logo"><img src="assets/images/font-jam_header.jpg" alt="background image"></div>
      <div class="menu">
        <ul>
          <li><a href="#header">HOME</a></li>
          <li><a href="#intro">ABOUT FONT JAM</a></li>
          <li><a href="#search">SEARCH FONT JAM</a></li>
          <li><a href="#chatroom">LET'S TALK FONTS</a></li>
          <li><a href="#contact">HIRE ME</a></li>
        </ul>
      </div>
    </header>

    <div id="intro">
      <div class="intro_text">
        <h1>Welcome to Font Jam</h1>
        <h4>...Goes Together Like Peanut Butter and Jelly!</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati reprehenderit expedita commodi porro. Delectus corporis repellat, adipisci beatae reprehenderit, sint mollitia laudantium itaque illo explicabo ab nobis labore? Vel, unde!</p>
      </div>

      <div class="intro_image">
        <img src="/assets/images/fonts_image.png" alt="">
      </div>
    </div>
<div class="orange-container">
    <div id="sections">
      <div class="sections_fontsearch">
        <div id='mega-octicon1' class="mega-octicon octicon-book"></div><br>
        <h2>Find Your Font</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut ab quia ad repellendus, quibusdam autem accusamus quos facilis consectetur quas incidunt! Expedita delectus distinctio nesciunt repellendus ipsam, aliquam iste dolore.</p>
        <button><a href="#search">Search</a></button>
      </div>
      <div class="sections_chatroom">
        <div id='mega-octicon2' class="mega-octicon octicon-comment-discussion"></div><br>
        <h2>Let's Discuss</h2>
        <p>Lorem ipsum dolor sit amet. Ratione ad labore ab soluta, expedita, doloremque omnis blanditiis corporis saepe mollitia aliquid exercitationem quas, accusantium veniam sequi quibusdam? Deserunt, quia, vel. Lorem ipsum dolor sit amet.</p>
        <button><a href="#chatroom">Chat</a></button>
    </div>
      <div class="sections_contact">
        <div id='mega-octicon3' class="mega-octicon octicon-mail"></div><br>
        <h2>Contact Us</h2>
        <p>  Lorem ipsum dolor sit amet, bobby doody consectetur adipisicing elit. In eaque perferendis iusto illum dolore, sint inventore tenetur quas, vero, deserunt animi ut est at enim, ducimus. Corporis eaque reprehenderit ut!</p>
        <button><a href="#contact">Say Hello</a></button>
    </div>
    </div>
</div>

    <div id="search">
      <h1>Search Fonts</h1>

      <div class="search_left">
        <form {{action "search" on="submit"}} method="post">
        {{input type='text' value=searchBar placeholder="Search Font Class"}}
        <button>Search</button>
        </form>
      </div>


    <div class="search_right">
      <h4>Top Complimentary Fonts</h4>

      <ul class="results">

      {{#each result in searchResults}}
      <li class="result">
      <div class="font-text">
        <h3 class="font-title">{{result.family_name.[0].value}}{{family_name}}{{classification}}<link rel="stylesheet" href="http://www.fontsquirrel.com/fonts/"{{family_name}} target="_blank">Find Font</h3>
      </div>
      </li>
      {{/each}}
      </ul>
    </div>
  </div>

    <div id="chatroom">
      <div class="orange-container">
        <form {{action 'authenticate' on="submit"}}>
          <fieldset>
            <div class="login-form">

              {{input value=identification placeholder='Enter Email' type='email' }}

              {{input value=password placeholder='Enter Password' type='password' }}<br>

              <button type="submit">Login</button>
            </div>

          </fieldset>
        </form>
    </div>
      <div class="chat">

      <form {{action 'save' on="submit"}} class="form-container">
        {{textarea value=newComment}}
        <button class="comment-button" type="submit" {{action "saveComment"}}>Submit</button>
      </form>

      {{outlet}}

      <ul>
        {{#each comment in model.comments itemController="main"}}
          {{#if comment.isEditing}}
            <li>{{input value=comment.model.body}}</li>
            <button class="button comment-save" type="submit" {{action "save" comment}}>Save</button>
          {{else}}
            <li>{{comment.model.body}}</li>
            <button class="button comment-edit" type="submit" {{action "edit" comment}}>Edit</button>
            <button class="button comment-delete" type="submit" {{action "destroyComment" comment}}>Delete</button>
          {{/if}}
        {{/each}}
      </ul>

    </div>

    </div>

  <div class="orange-container">
    <div id="contact">
          <h3>Matt Jankun   |   (678) 205-7815    |   mattjankun@yahoo.com</h3>

    </div>
  </div>
    <footer>
      Copyright 2015
    </footer>
    </div>
  </body>
